@import '../../styles/settings.scss';

.columnForm {
  padding: 10px;
  text-align: center;
  input {
    margin: 10px;
    padding: 12px 18px;
    min-width: 200px;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    border-radius: $radius;
  }
}

@media (max-width: 720px) {
  .columnForm {
    display: flex;
    flex-direction: column;
    button {
      margin-top: 20px;
    }
  }
}
