.columnForm {
  padding: 10px;
}

@media screen and (max-width: 670px) {
  .columnForm {
    display: flex;
    flex-direction: column;
    button {
      margin-top: 20px;
      margin-left: 10px;
    }
  }
}
